@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~lib/chosen/chosen.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-html5-1.6.1/cr-1.5.2/datatables.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" href="~/css/styles.css" />

</head>
<body>
    <header>

        <nav class="navbar navbar-expand-lg" id="navbar">

            <button class="navbar-toggler cool-blue"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fas fa-bars fa-1x"></i></span>
            </button>


            <div class="navbar-collapse collapse"
                 id="navbarSupportedContent">

                <a class="navbar-brand"
                   asp-area=""
                   asp-controller="Home"
                   asp-action="Index">
                    <div class="logo-icon">
                        <img class="logo-icon"
                             src="https://i.ibb.co/sgjNCzT/TennOs.png"
                             alt="BetterAnimeList" />
                        <img class="logo-top"
                             src="https://cdn.discordapp.com/attachments/105012959465443328/645402259714474050/TennOs2.png"
                             alt="BetterAnimeList" />
                    </div>
                </a>

                <ul class="navbar-nav mr-auto">


                    <li class="nav-item" id="PrivacyLink">
                        <a class="nav-link" asp-area=""
                           asp-controller="Home"
                           asp-action="Privacy">Privacy</a>
                    </li>
                    <li class="nav-item" id="UserListLink">
                        <a class="nav-link" asp-area=""
                           asp-controller="Home"
                           asp-action="UserList">UserList</a>
                    </li>
                    <li class="nav-item" id="UploadTestLink">
                        <a class="nav-link" asp-area=""
                           asp-controller="Home"
                           asp-action="UploadTest">UploadTest</a>
                    </li>





                    <!--Logged In-->
                    @if (@HttpContextAccessor.HttpContext.Session.GetString("username") != string.Empty && @HttpContextAccessor.HttpContext.Session.GetString("username") != null)
                    {
                        <li class="nav-item" id="AnimeList">
                            <a class="nav-link"
                               asp-area=""
                               asp-controller="Home"
                               asp-action="AnimeList">
                                AnimeList
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link"
                               asp-area=""
                               asp-controller="Home"
                               asp-action="Logout">
                                Logout
                            </a>
                        </li>

                    }
                    else
                    {
                        <!-- Logged Out-->

                        <li class="nav-item modal-link" id="#Register">
                            <a class="nav-link"
                               data-toggle="modal"
                               data-target="#RegisterForm">
                                Register
                                <!--asp-area=""
                            asp-controller="Home"
                            asp-action="Register">Register-->
                            </a>
                        </li>

                        <li class="nav-item modal-link" id="#Login">
                            <a class="nav-link"
                               data-toggle="modal"
                               data-target="#LoginForm">
                                Login
                                <!--asp-area=""
                            asp-controller="Home"
                            asp-action="Login">Login-->
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </nav>


        <div class="modal fade" id="LoginForm" tabindex="-1" role="dialog"
             aria-labelledby="ModalLogin" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    @await Component.InvokeAsync("Login")
                </div> <!-- card.// -->
            </div>
        </div>
        <div class="modal fade" id="RegisterForm" tabindex="-1" role="dialog"
             aria-labelledby="ModalRegister" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    @await Component.InvokeAsync("Register")
                </div> <!-- card.// -->
            </div>
        </div>
    </header>

    <div class="container pt-5">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="card-footer text-muted">
        <div class="container">
            &copy; 2019 - BetterAnimeList - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/chosen/chosen.jquery.min.js"></script>
    <script src="~/lib/chosen/chosen.proto.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-html5-1.6.1/cr-1.5.2/datatables.min.js"></script>




    @RenderSection("Scripts", required: false)
</body>
</html>
